rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /players/{playerId} {
      allow read: if true;
      allow create: if request.resource.data.balance == 10000;
      allow update: if resource != null;
      allow delete: if false;
    }
  }
}
